@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model EditCMSPageModel
<section class="wb-about-page">
 <div class="header__clouds">
    
                <div id="cloud2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="509px" height="428px">
                        <defs>
                            <filter id="Filter_0">
                                <feFlood flood-color="rgb(167, 214, 226)" flood-opacity="0.08" result="floodOut" />
                                <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                                <feBlend mode="multiply" in="compOut" in2="SourceGraphic" />
                            </filter>
                        </defs>
                        <g filter="url(#Filter_0)">
                            <path fill-rule="evenodd" fill="rgba(167, 214, 226, .08)"
                                  d="M118.027,61.721 C224.300,-23.252 368.501,-19.537 440.109,70.020 C511.717,159.577 548.583,279.575 442.310,364.549 C336.037,449.522 187.059,443.829 55.261,377.737 C-49.940,324.982 11.754,146.695 118.027,61.721 Z" />
                        </g>
                    </svg>
                </div>
            </div>
   
    <div class="video__clouds">
        <div id="cloud3">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="579px" height="457px">
                <defs>
                    <filter id="Filter_0">
                        <feFlood flood-color="rgb(167, 214, 226)" flood-opacity="0.08" result="floodOut" />
                        <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                        <feBlend mode="multiply" in="compOut" in2="SourceGraphic" />
                    </filter>
                </defs>
                <g filter="url(#Filter_0)">
                    <path fill-rule="evenodd" fill="rgba(167, 214, 226, .08)"
                          d="M425.026,69.228 C401.638,14.673 411.557,7.569 345.563,0.436 C320.898,-2.230 287.897,7.888 267.279,21.782 C248.311,34.568 224.649,36.213 202.499,36.132 C157.648,35.964 105.502,16.289 92.039,77.824 C82.868,119.724 135.841,146.444 122.902,186.786 C118.865,199.387 106.311,208.708 96.003,216.572 C70.393,236.103 51.327,252.887 32.368,280.642 C-3.131,332.578 -5.650,356.773 6.761,389.476 C20.221,424.933 70.547,458.214 112.311,441.583 C162.412,421.642 157.669,379.078 213.413,357.042 C260.457,338.434 274.780,378.329 292.422,410.969 C325.697,472.537 390.340,470.187 434.360,416.754 C448.700,399.345 473.168,361.306 468.324,336.392 C464.414,316.283 438.059,304.152 425.291,290.533 C380.380,242.634 455.822,225.422 495.388,207.825 C533.202,191.013 594.166,156.433 574.028,94.051 C567.118,72.647 518.939,53.491 499.524,60.952 C472.060,71.515 436.690,96.449 425.026,69.228 Z" />
                </g>
            </svg>
        </div>
        <div id="cloud4">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="579px" height="457px">
                <defs>
                    <filter id="Filter_0">
                        <feFlood flood-color="rgb(167, 214, 226)" flood-opacity="0.08" result="floodOut" />
                        <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                        <feBlend mode="multiply" in="compOut" in2="SourceGraphic" />
                    </filter>
                </defs>
                <g filter="url(#Filter_0)">
                    <path fill-rule="evenodd" fill="rgba(167, 214, 226, .08)"
                          d="M425.026,69.228 C401.638,14.673 411.557,7.569 345.563,0.436 C320.898,-2.230 287.897,7.888 267.279,21.781 C248.311,34.568 224.649,36.213 202.499,36.132 C157.648,35.964 105.502,16.289 92.039,77.824 C82.868,119.724 135.841,146.444 122.902,186.786 C118.865,199.387 106.311,208.708 96.003,216.571 C70.393,236.103 51.327,252.888 32.368,280.642 C-3.131,332.578 -5.650,356.773 6.761,389.476 C20.221,424.933 70.547,458.214 112.311,441.583 C162.412,421.642 157.669,379.078 213.413,357.042 C260.457,338.433 274.780,378.329 292.422,410.969 C325.697,472.537 390.340,470.187 434.360,416.754 C448.700,399.344 473.168,361.306 468.324,336.392 C464.414,316.283 438.059,304.152 425.291,290.533 C380.380,242.634 455.822,225.422 495.388,207.825 C533.202,191.013 594.166,156.433 574.028,94.051 C567.118,72.646 518.939,53.491 499.524,60.952 C472.060,71.515 436.690,96.449 425.026,69.228 Z" />
                </g>
            </svg>
        </div>
    </div>
   
    <div class="container">
        <h1 class="text-center">@Model.PageTitle</h1>
   
		<div class="inner-about text-center">
		   @Html.Raw(Model.PageContent)
    </div>
	    </div>

    @*<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdDrRQgbJkVnWLI4BZHCjNuMScy9X0WE3mp3O7KRWXDFGhZuQ/viewform"
             width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>*@
</section>