@model ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="middle-content">
    <div class="faq-page">
        <div class="top-heading-bar">
            <h3 class="short-heading pacifico"> Set Password for Facebook Login </h3>
        </div>
        <div class="content-sec">
            <div class="tab-content">
                <form id="passwordform">
                    <div class="col-md-12">
                        <h3 class="col-md-12">Welcome <strong>@Model.UserName</strong></h3>
                        <div class="col-md-12">
                            @Html.HiddenFor(m => m.Email)
                            @Html.TextAreaFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="col-md-12">
                            <input type="button" class="btns btn-signin setpassword" value="Submit" title="Set Password" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    
}