@model RejectWithReasonModel
<div class="modal modal-custom fade" id="myModal-RejectOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Reason For Rejection</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-div">
                        <div class="form-group">
                            @Html.HiddenFor(x => x.RecipientCardID)
                            @Html.TextAreaFor(x => x.Reason, new { @class = "form-control", @placeholder = "Reason" })
                            @Html.ValidationMessageFor(x => x.Reason)
                        </div>
                    </div>
                    <div class="bottom-sec">
                        <a href="javascript:" id="formReject" class="submit btn btn-primary">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


