<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-HyggeMail-20141209042335.mdf;Initial Catalog=aspnet-HyggeMail-20141209042335;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="HyggeMailEntities" connectionString="metadata=res://*/HyggeMail.csdl|res://*/HyggeMail.ssdl|res://*/HyggeMail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=14.141.175.108;initial catalog=HyggeMail;user id=xicom;password=Asd_12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HyggeMailEntities" connectionString="metadata=res://*/HyggeMail.csdl|res://*/HyggeMail.ssdl|res://*/HyggeMail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:34.234.112.212,50397;initial catalog=DevHyggeMail;user id=hyggemail;password=$sQl&amp;hygMil!v;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="HyggeMailEntities" connectionString="metadata=res://*/HyggeMail.csdl|res://*/HyggeMail.ssdl|res://*/HyggeMail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.207;initial catalog=HyggeMail;user id=xicom;password=Asd_1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <paypal>
    <settings>
      <add name="mode" value="live" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />

      <!--//new account-->
      <!--<add name="clientId" value="AQAkD2yvcaAqJEH79JQO61aoGsZOkXAPbHpF1wlqIgEpKHVjRyLbsKu9aq9wZyGWzGfu35HYdVSqGFjD" />
      <add name="clientSecret" value="EB-Xfi2-GJKhXca1czBf4GeiobGdX-TXTtuCx3haUVzKd4_Bm4c4ArMWhLcFwpLTxybEA45cEb_iiHdZ" />-->

      <!--Username : admin@hyggemail.com
      Password : Hygg3m@1l-->


      <!--<add name="clientId" value="AQZSN26Xhr1-xqDf3p3syk4VJS9yePNRu_sUms-6mdWZR6cX6191-EqC0ArIRrlT8ZYAIVFPFf9MK9Tn" />
      <add name="clientSecret" value="EPGvl7HDl-lBNPfo0PnfH-v9Ow5ga10TqlwOdz2GVYlxvdQgEsQPTB0SpM8RC6AqmHY3U68C5xUDFtjp" />-->

      <!--Live Details-->
      <add name="clientId" value="AWOeuq96B6tN2v5Pum6iEAFCxuK2zk0eEzaD5nd10Gf0u-uzsorVq1xef6TPT0KVljyLYV8r-12i9Z0U" />
      <add name="clientSecret" value="EFYOMh6VwCT4t19_CgApSNmwbSdjqDebM-DFg2KYPGsW0ndE-v6bYjHWcQVGagUTTdZp5NxS2wX3g_mJ" />

    </settings>
  </paypal>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LogExceptionInDB" value="true" />
    <add key="BrowserKey" value="AIzaSyD1yYiAxxgj_9XKsLVmvW7hSSGVcUXs07w" />
    <add key="GooglePlaceKey" value="AIzaSyDClcOE1kQ7nZq_SvIEonCueF-3uRexWgA" />
    <add key="Link" value="http://localhost:56789" />
    <!--<add key="Link" value="http://hyggemail.xicom.info/" />-->
    <!--<add key="Link" value="http://34.234.112.212/" />-->
    <!--<add key="Link" value="https://hyggemail.com/" />-->
    <add key="eEmail" value="xicomtest02@gmail.com" />
    <add key="ePassword" value="92b2394c04f85cc91a564cfca580fac9416ef0b0" />
    <add key="smtp" value="smtp.sendgrid.net" />
    <add key="appName" value=" Hygge Mail " />
    <add key="EncryptionPassword" value="KMN87623Ghssybx783bxd729nxc83b63lmnbvxsaCVADF" />

    <!--Facebook App settings starts-->
    <!--<add key="Client_Id" value="325463604568665" />
    <add key="FacebookAppSecret" value="d00900307b64100fd27f5f8286e41659" />-->

    <add key="Client_Id" value="137934603528888" />
    <add key="FacebookAppSecret" value="7ee64514af0f086b326fcf853d6f6c77" />

    <!--Client FB App ID-->
    <!--<add key="Client_Id" value="360404354406880" />
    <add key="FacebookAppSecret" value="8dc2b6cca1324a360aaa4a11581355fc" />-->

    <add key="App_Scope" value="public_profile,email,user_birthday,user_relationships,user_location" />
    <!--<add key="RedirectUrlFB" value="http://localhost:56789/Account/RedirectHandler" />-->
    <!--<add key="RedirectUrlFB" value="http://hyggemail.xicom.info/Account/RedirectHandler" />-->
    <add key="RedirectUrlFB" value="https://hyggemail.com/Account/RedirectHandler" />
    <!--Facebook App settings ends-->
    <!--<add key="owin:AppStartup" value="HyggeMail.App_Start.Startup, HyggeMail.App_Start" />
    <add key="owin:AutomaticAppStartup" value="false" />-->
    <add key="PayPalCancelAction" value="User/Payment/CancelPayPalTransaction" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="UnSplashClientId" value="91543c083f8592cfa7f851460d18f170ffb2cc773aae5b25fdd776fab2c83401" />
    <add key="DemoPostCardEmail" value="admin@hyggemail.com" />
    <!--MailChimpConfiguration-->
    <add key="MailChimpApiKey" value="d50f84ff9c70af9be2ade6f6571a2cee-us19" />
    <add key="DataCenter" value="us19" />
    <add key="SubListId" value="5efa0fe2fb" />
    <add key="DownListId" value="2be5734bef" />
    <add key="SignUpListId" value="6bf880228e" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="no-reply@hyggeMail.com">
        <!--<network host="smtp.sparkpostmail.com" userName="SMTP_Injection" password="92b2394c04f85cc91a564cfca580fac9416ef0b0" port="2525" enableSsl="true" />-->
        <network host="smtp.sendgrid.net" userName="apikey" password="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" port="587" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <authentication mode="Windows" />
    <identity impersonate="false" />
    <!--<authorization >
      <deny users="?"/>
      -->
    <!--<allow users="XTCHD-DOT-80/xicom"/>-->
    <!--
    </authorization>-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>-->
</configuration>