                  <!-- Modal Terms-->
<div class="modal modal-custom fade" id="myModal-terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p id="spanUsername">Hi Milan!</p>
                <p>
                    There is just one last step left
                </p>

            </div>
            <div class="modal-body">
                <h2>Terms & Conditions</h2>
				<div id="content-2" class="content11 mCustomScrollbar light" data-mcs-theme="minimal-dark">
				<div class="privacy-terms-view">
            <p>
Welcome, and thank you for your interest in the website www.HyggeMail.com (“HyggeMail,” “us” "our" or “we”) and our services made available through the website (the "Website" or the “Site”) and any mobile application (the “App”) which we may make available to you now, or in the future, and which together comprise the service (“Service”). HyggeMail is owned and operated by HyggeMail LLC, a Massachusetts Limited Liability Company. Unless otherwise specified, all references to the Service include the services available through the HyggeMail Website or App, as well as any software that HyggeMail provides to you that allows you to access and use the Services. The term “you” refers to the user of the Service including, without limitation, visitors to the Website or App, customers and contributors of User Content. The following Terms of Service are a legally binding contract between you and HyggeMail regarding your use of the Service. </p>
<p>
Please read the following Terms of Service ("Terms") carefully before accessing or using any of the Service. Each time you access or use the Service, or purchasing something from us, you, and if you are acting on behalf of a third party or your employer, such third party or employer, agree to be bound by these Terms of Service and our Privacy Policy whether or not you register with us. If you do not agree to be bound by all of these Terms, you may not access or use the Service. HyggeMail may change this Agreement at any time by posting an updated Terms of Service on this site. If any amendment to these Terms is unacceptable to you, you shall cease using this Site or App. If you continue using the Site or the App, you will be conclusively deemed to have accepted the changes. </p>
<p>
In addition, certain areas of the Service may be subject to additional Terms of Service that we make available for your review. By using such areas, or any part thereof, you are expressly indicating that you have read and agree to be bound by the additional Terms of Service applicable to such areas. In the event that any of the additional Terms of Service governing such area conflict with these Terms, the additional terms will control.
			</p>
	<h4>PLEASE READ THE BINDING ARBITRATION CLAUSE AND CLASS ACTION WAIVER PROVISIONS IN THE DISPUTE RESOLUTION SECTION OF THESE TERMS. IT AFFECTS HOW DISPUTES ARE RESOLVED. </h4>

<h2>1. Eligibility for Our Service</h2>
<p>
By visiting our Site or App you represent and warrant that you are at least the age of majority in your state of residence and are able to enter into a binding contract. If you are a user between the ages of 13 and 18, you represent and warrant that you have parental permission to enter into an agreement to accept these Terms of Service. Certain features of our Services may be subject to higher age and/or other eligibility requirements and restrictions.	
	</p>

<h2>2. Description of Service</h2>
<ul>
<li>HyggeMail provides you with the ability to create customized postcards featuring personal messages and images that you can send to people important to you. You simply design the card using our Services and we will print and mail it for you on the date you select.</li>
<li>The Service include HyggeMail software, products, systems, procedures, processes and technologies. </li>
<li>The Service does not include any software application or service that is provided by you or a third party, which you use in connection with the Service.</li>
<li>Any modifications and new features added to the Service are also subject to this Agreement. </li>
<li>HyggeMail reserves the right to deny service to anyone for any reason, or for no reason at all. </li>
<li>HyggeMail reserves the right to reject, refuse and return any User Content or user generated postcard if it does not meet the requirements set by section 16 of this Agreement "User Content, Comments, Feedback; Rights and Related Responsibilities; License".</li>
<li>HyggeMail reserves the right to modify or discontinue the Service or any feature or functionality thereof at any time without notice to you. All rights, title and interest in and to the Service and its components (including all intellectual property rights) will remain with and belong exclusively to HyggeMail.
</li>
</ul>

<h2>3. Your Access and Use of our Services</h2>
<ul>
<li>Your right to access and use our Services is personal to you and is not transferable by you to any other person or entity. Access to our Services may not be available in all locations. You are only entitled to access and use our Services for lawful purposes and pursuant to the terms and conditions of this Agreement and our Privacy Policy. Any action by you that, in our sole discretion: (i) violates the terms and conditions of this Agreement and/or the Privacy Policy; (ii) restricts, inhibits or prevents any access, use or enjoyment of our Services; or (iii) through the use of our Services, defames, abuses, harasses, offends or threatens others, shall not be permitted, and may result in your loss of the right to access and use our Services. </li>
<li>The rights granted to you in these Terms are subject to the following restrictions: (i) you shall not license, sell, rent, lease, transfer, assign, distribute, host, or otherwise commercially exploit the Services; (ii) you shall not modify, make derivative works of, disassemble, reverse compile or reverse engineer any part of the Services; (iii) you shall not access the Services in order to build a similar or competitive Service; and (iv) except as expressly stated herein, no part of the Services may be copied, reproduced, distributed, republished, downloaded, displayed, posted or transmitted in any form or by any means. Any future release, update, or other addition to functionality of the Services shall be subject to these Terms. </li>
<li>Furthermore, you agree that you will not use any robot, spider, scraper, deep link or other similar automated data gathering or extraction tools, program, algorithm or methodology to access, acquire, copy or monitor our Services or any portion of our Services or for any other purpose, without our prior written permission.  Additionally, you agree that you will not: (i) take any action that imposes, or may impose in our sole discretion an unreasonable or disproportionately large load on our infrastructure; (ii) copy, reproduce, modify, create derivative works from, distribute or publicly display any content (except for your personal information) from our Services without our prior written permission and the appropriate third party, as applicable; (iii) interfere or attempt to interfere with the proper working of our Services or any activities conducted on our Services; (iv) bypass any robot exclusion headers or other measures we may use to prevent or restrict access to our Services, or (v) interfere or disrupt the Service or servers or networks connected to the Service, including by transmitting any worms, viruses, spyware, malware or any other code of a destructive or disruptive nature.</li>
<li>Except as expressly permitted in this Agreement, you shall not collect or harvest any personally identifiable information, including account names, from our Services. </li>
<li>Our Services may now, or in the future, have "publicly accessible areas" that allow users to post User Content (hereafter defined) that will be accessible by the public or the user population generally. As a user of the Services, you acknowledge and affirmatively agree that in the course of using the Services you may be exposed to User Content that might be offensive, harmful, inaccurate or otherwise inappropriate. You further agree that HyggeMail shall not, under any circumstances, be liable in any way for any User Content.</li>
<li>You understand that HyggeMail may issue upgrade versions of any mobile App and you consent to receiving automatic upgrades on your mobile device.  You also acknowledge and agree that standard carrier data charges may apply to your use of the Service including, without limitation, text messages.</li>
<li>You shall not use any communication systems provided on our Services including, without limitation email, for any commercial or solicitation purposes.  You shall not solicit for commercial purposes any users of our Services without our prior written permission.</li>
<li>You understand and agree that you are solely responsible for compliance with any and all laws, rules, regulations, and Tax obligations that may apply to your purchase of products or use of the Services.</li>
</ul>

<h2>4. Accounts and Registration </h2>
<ul>
<li>To access some features of the Service, including our subscription services plans, you may be required to register for an account. When you register for an account, you may be required to provide us with some information about yourself (such as your name, date of birth, e-mail address, physical address, phone number, names and addresses for your addressees for mailing cards or other personal information). Some of this information may be of a confidential nature and may include personal identifying information (all "Your Information").  </li>
<li>If you provide Your Information to us then you agree to provide true, current, complete and accurate information, and not to misrepresent your identity.  You also agree to keep Your Information current and to update Your Information if any of Your Information changes.</li>  
<li>Our collection, use and disclosure of Your Information is governed by this Agreement and our <a href="http://hyggemail.com/Home/Privacy" target="_blank">Privacy Policy</a> which you may access here.</li>
</ul>
 <h2>5. Account Management</h2>
 <ul>
<li>Keep Your Password Secure. If you have been issued an account by HyggeMail in connection with your use of the Services, you are responsible for safeguarding your password and any other credentials used to access that account, even if you authorize other parties in your organization to access your account. You, and not HyggeMail, are responsible for any activity occurring in your account, whether or not you authorized that activity. If you become aware of any unauthorized access to your account, you should notify HyggeMail immediately.</li>
<li>Keep Your Details Accurate. HyggeMail may send notices to the email address or text messages to your mobile phone registered with your account. You must keep your email address, mobile phone number and, where applicable, your contact details and payment details associated with your account current and accurate.
	</li>
	</ul>
	
	<h2>6. Subscription Service Plans </h2>
<p>HyggeMail offers several Subscription Plans for our users. </p>

 <ul>
<li>Each of the plans requires the user to purchase "Tokens" which will be redeemed by HyggeMail each time you design and mail your postcards.</li>
<li>New users will receive 10 free Tokens upon their initial first-time registration (good for design and mailing of 10 postcards).</li>
<li>Each Subscription Plan is an annual plan and expires one (1) year after your purchase date.</li>
<li>We reserve the right to amend or discontinue any Subscription Plan at our discretion. </li>
</ul>
<h4>You may select one of the following subscription service plans:</h4>

 <ul class="dots">
<li><strong>BASIC PACKAGE.  </strong>
This Subscription Plan entitles the user to design and mail ten (10) postcards.</li>
<li><strong>PREMIUM PACKAGE. </strong>
This Subscription Plan entitles the user to design and mail twenty-five (25) postcards.</li>
<li><strong>PLATINUM PACKAGE.</strong> 
This Subscription Plan entitles the user to design and mail fifty (50) postcards.</li>
</ul>
<p>
WE RESERVE THE RIGHT TO REVOKE YOUR SUBSCRIPTION AT ANY TIME AS A RESULT OF A VIOLATION OF THESE TERMS OF SERVICE OR THE PRIVACY POLICY. </p>
	
	<h2>7. Suspension and Termination of Services</h2>
	<p>
HyggeMail may limit or suspend or terminate the Services to you if you fail to comply with these Terms, the Privacy Policy or if you use the Services in a way that causes legal liability to us or disrupts use of the Service by other users. HyggeMail may also suspend providing the Services to you if we are investigating suspected misconduct by you. HyggeMail will use commercially reasonable efforts to narrow the scope and duration of any limitation or suspension under this Section as is needed to resolve the issue that prompted such action. </p>
<h2>8. Information Accuracy </h2>
<ul>
<li>We attempt to ensure that information on this Service is complete, accurate and current. Despite our best efforts, the information on our Service may occasionally be inaccurate, incomplete or out of date. We make no representation as to the completeness, accuracy, or currency of any information on the Service. All features, specifications, products and prices of the merchandise described on the Service are subject to change at any time without notice.</li>
<li>Furthermore, information on the Service may contain typographical errors, inaccuracies, or omissions that may relate to product descriptions, colors, pricing, and availability. We reserve the right to correct or make changes in such information without notice and cancel orders placed for merchandise listed incorrectly or at the wrong price.</li>
	
	</ul>
	
	<h2>9. Color Accuracy</h2>
	<p>
HyggeMail will produce your postcards from your design as closely as possible, but cannot exactly match the color and density as represented and viewed on your computer and monitor because of hardware and software variations, and because of inherent limitations with the printing process; therefore, the accuracy of color reproduction is not guaranteed. By placing an order with HyggeMail, you agree to this limitation. </p>
<h2>10. Prices</h2>
<ul>
<li>All prices displayed in our Services are in U.S. dollars unless otherwise indicated.</li> 
<li>All applicable taxes and duties are additional and your responsibility. </li> 
<li>We reserve the right in our sole discretion to change prices of our Subscription Plans at any time and without notice.</li> 
	</ul>
	
	<h2>11. Payment</h2>
<ul>
<li>By providing HyggeMail with your method of payment information (credit or debit card), you authorize us to charge you for Subscription Plans (Token purchases) using the secure third party payment processor we make available to you.</li>
<li>You must keep all information about your payment method current. If you tell us to stop using your payment method and we no longer receive payment from you, we may cancel your account. Your notice to us will not affect charges to your account before we reasonably could act on your request.</li>
</ul>
<h2>12. Mailing Your Post Card</h2>
<p>All postcards will be mailed to an address provided by you by the United State Post Office using first class mail service. </p>


<h2>13. Proprietary Rights</h2>
<ul>
<li>As between HyggeMail and you, HyggeMail or its licensors own and reserve all right, title and interest in and to the Service and all hardware, software and other items used to provide the Service, other than the rights explicitly granted to you to use the Service in accordance with these Terms. No title to or ownership of any proprietary rights related to the Service is transferred to you pursuant to these Terms. All rights not explicitly granted to you are reserved by HyggeMail.
</li>
</ul>
<h2>14. Intellectual Property Rights</h2>

<ul>
<li>Our names, graphics, videos, logos, page headers, button icons, scripts, and service names are our trademarks or trade dress in the United States and/or other countries (collectively, the "Proprietary Marks"), are owned by HyggeMail. You may not use the Proprietary Marks without our prior written permission. </li>
<li>We make no proprietary claim to any third-party names, trademarks or service marks appearing on our Services. Any third-party names, trademarks, and service marks are property of their respective owners.  </li>
<li>The information, descriptions, advice, data, software and content viewable on, contained in, or downloadable from our Services (collectively, "Our Content"), including, without limitation, all text, graphics, charts, pictures, photographs, images, videos, line art, icons and renditions, are copyrighted by, or otherwise licensed to us or Our Content suppliers.  </li>
<li>We also own a copyright of a collective work in the selection, coordination, arrangement, presentation, display and enhancement of Our Content (the "Collective Work").  </li>
<li>All software used on, or within our Services is our property or the property of our software vendors and is protected by United States and international copyright laws. Viewing, reading, printing, downloading or otherwise using Our Content and/or the Collective Work does not entitle you to any ownership or intellectual property rights to Our Content, the Collective Work, or the Software. </li>
<li>You are solely responsible for any damages resulting from your infringement of our, or any third-parties, intellectual property rights regarding the Trademarks, Our Content, the Collective Work, the Software and/or any other harm incurred by us or our affiliates as a, direct or indirect, result of your copying, distributing, redistributing, transmitting, publishing or using the same for purposes that are contrary to the terms and conditions of this Agreement.
 </li>
 </ul>
 
 <h2>15. Use of Our Content</h2>
<ul>
<li>We grant you a limited license to access and otherwise make personal non-commercial use of Our Content and the Collective Work for the purpose of designing your postcard provided, however, that you shall not delete any proprietary notices or materials with regard to the foregoing. 
b.You may not modify Our Content or the Collective Work or utilize them for any commercial purpose or any other public display, performance, sale, or rental, decompile, reverse engineer, or disassemble Our Content and the Collective Work, or transfer Our Content or the Collective Work to another person or entity.
 </li>
 </ul>
 
 <h2>16. User Content, Comments, Feedback; Rights and Related Responsibilities; License</h2>
 <p>
HyggeMail may permit you the opportunity to incorporate your own content or materials into postcards you design, or to otherwise transmit content to or through the Service, including as part of a postcard or through a publicly viewable area. This may include, without limitation,  certain images, photos, artwork, designs, reviews, comments and other content including suggestions, ideas, testimonials  questions or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights or otherwise injurious or objectionable to third parties. </p>

<ul>
<li>User Content" means, without limitation, any text, digital files, images, photos, artwork, designs, messages, videos, audio, testimonials, comments, feedback, suggestions, reviews and documents, or other content you upload, transmit or otherwise make available to HyggeMail and/or its users via the Services, either independently or at our request. You represent and warrant that you own or otherwise control the rights to your User Content and agree to indemnify HyggeMail and its affiliates for all claims arising from or in connection with any claims to any rights in your User Content or any damages arising from your User Content. </li>
<li>By submitting User Content on or through the Service, you grant HyggeMail a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, print, process, adapt, modify, publish, transmit, display and distribute such User Content without attribution, and without the requirement of any permission from or payment to you or to any other person or entity, in any manner including, without limitation, for commercial, publicity, trade, promotional, or advertising purposes, and in any and all media now known or hereafter devised, and to prepare derivative works of, or incorporate into other works, such User Content. </li>
<li>In order for us to provide the Service to you, we require that you grant us certain rights with respect to User Content, including the ability to transmit, manipulate, process, print, store and copy User Content. Your acceptance of this Agreement gives us the permission to do so and grants us any such rights necessary to provide the Service to you. </li>
<li>You agree that any User Content you submit to a publicly viewable area of our Service may be viewed by other users, any person visiting or participating in the Service and by the public in general. User Content submitted to a publicly viewable area of our Service is not considered to be confidential. You agree not to submit User Content to a publicly viewable area of our Service in which you have any expectation of privacy.  </li>
<li>HyggeMail has no control over User Content once posted to a publicly viewable area of our Service, and you accept the risk that it is possible that visitors to the Website or App may copy User Content and repost it elsewhere.  </li>
<li> HyggeMail expressly disclaims any liability for the loss or damage to any User Content or any losses or damages you incur as a result of the loss or damage of any User Content. It is your responsibility to back-up any User Content to prevent it's loss. </li>
<li>You are solely responsible for User Content, including, without limitation, testimonials, reviews, comments and feedback, and any damages suffered by HyggeMail resulting therefrom. </li>
<li>HyggeMail may remove or return any User Content at any time for any reason whatsoever, or for no reason at all. We are not responsible for the authenticity, accuracy, completeness, appropriateness, or legality of User Content. </li>
<li>You represent and warrant that all information that you submit is authentic, accurate and truthful and that you will promptly update any information provided by you that subsequently becomes inaccurate, misleading or false. </li>
<li><strong>You agree not to submit or post as part of the Service any offensive, obscene, profane, threatening, intimidating, harassing, racially offensive, abusive, libelous, defamatory, inaccurate, incomplete or illegal material. And you further agree that we shall have the absolute right to reject and/or remove said material without liability to you.</strong>

 </li>
 </ul>
 
 <h2>17. Software</h2>
 <ul>
<li>If you receive software from us including, without limitation, a mobile application, its use is governed in one of two ways: If you're presented with license terms that you must accept in order to use the software, those terms apply; if no license is presented to you, these Terms apply. We reserve all other rights to the software. </li>
<li>Any license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by HyggeMail, in the manner permitted by these terms. You may not copy, modify, distribute, sell or lease any part of our Services or included software, nor may you reverse engineer or attempt to extract the source code of that software. </li>
<li>We may automatically check your version of the software. We may also automatically download to your device or computer new versions of the software. </li>
<li>Any software is licensed, not sold. Unless we notify you otherwise, the software license ends when your Service ends. You must then promptly uninstall the software, or we may disable it. You must not work around any technical limitations in the software. </li>
<li>The software is subject to applicable U.S. export laws and regulations. You must comply with all domestic and international export laws and regulations that apply to the software. These laws include restrictions on destinations, end users, and end use. Without limitation, you may not transfer the software or Service without U.S. government permission to anyone on U.S. government exclusion lists. You represent and warrant that you're not on any of those lists or under the control of, or an agent for, anyone on those lists.
 </li>
 </ul>	
	
	<h2>18. Interruption of Service</h2>
 <ul>
<li>Your access and use of our Services may be interrupted from time to time for any of several reasons, including, without limitation, the malfunction of equipment, periodic updating, maintenance or repair of our Services or other actions that we, in our sole discretion, may elect to take. </li>
<li>You agree that we will not be liable to you or to any third party for any interruption of the Services or any part thereof.</li>
 </ul>	

<h2>19. Third Party Links, Services and Content</h2>
<p>The Service may contain features, services and functionalities linking you to, or providing you with access to third party services and content, websites, directories, servers, networks, systems, information, databases, applications, software, programs, products , services, and the Internet as a whole. Because we have no control over such sites and resources, we are not responsible for the availability of such external sites or resources, and do not endorse and are not responsible or liable for any content, advertising, products or other materials on or available from such sites or resources. When you visit or use a third party’s website you agree to read and consent to the third party’s Terms of Service and Privacy Policy and you release us from any liability. </p>

<h2>20. Electronic Communications</h2>

 <ul>
<li>Although we may choose to communicate with you by regular mail, we may also choose to communicate with you by electronic means including, without limitation, email, telephone, text, SMS or by posting notices on our Services.  When you use our Services, you consent to communicating with us electronically.  </li>
<li>You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.

 </li>
 </ul>	
 
 <h2>21. Electronic Transactions</h2>
 <ul>
<li>Your use of the Services includes the ability to enter into agreements, including these Terms, and to make transactions electronically, including financial transactions and purchases. You acknowledge that your electronic submissions constitute your agreement and intent to be bound by such agreements, financial transactions and purchases.</li> 
<li>Your agreement and intent to be bound by electronic submissions applies to all records relating to all transactions you enter into on this site, including purchases, financial transactions, notices of cancellation, policies, contracts, and applications. 
 
 </li>
 </ul>
 
 <h2>22. Third Party Social Networking</h2>
 <p>
If you access our Services through a third party social networking  site or application including, but not limited to, Facebook, LinkedIn or Twitter, you authorize HyggeMail to access certain information about you that is made available through that third party social networking site and further authorize us to collect, store, retain and use, your information in accordance with our Privacy Policy.</p>
<h2>23. Security</h2>
<p>
Violating the security of our Services is prohibited and may result in criminal and civil liability. HyggeMail may investigate incidents involving such violations and may involve, and will cooperate with law, enforcement if a criminal violation is suspected. Security violations include, without limitation, unauthorized access to or use of data or systems including any attempt to probe, scan, or test the vulnerability of the Service or to breach security or authentication measures, unauthorized monitoring of data or traffic and interference with service to any user, host, or network.
</p>

<h2>24. Privacy and Your Personal Information</h2>
<p>For information about the HyggeMail data protection practices and privacy policies, please read our <a href="http://hyggemail.com/Home/Privacy" target="_blank">Privacy Policy</a> where you accessed these Terms of Service or here . This policy explains how we treat your personal information, and protect your privacy when you use the Services. You agree to the use of your data in accordance with HyggeMail Privacy Policy.
 </p>
 
 
 <h2>25. Copyright and Intellectual Property Policy</h2>
<p>We respect the intellectual property rights of others. We reserve the right to remove any User Content on the Services which allegedly infringe upon another person's copyright, trademark or other intellectual property right, and/or terminate, discontinue, suspend and/or restrict the account or ability to visit and/or use the Services or remove, edit, or disable any User Content on the Services which allegedly infringe upon another person's intellectual property rights. We provide this policy pursuant to Section 512 of the Copyright Revision Act, as enacted through the Digital Millennium Copyright Act ("DMCA").</p>
<p>
A valid complaint under the DMCA must provide the following information in writing:</p>
 <ul>
<li>An electronic or physical signature of a person authorized to act on behalf of the copyright owner.</li>
<li>Identification of the copyrighted work that you claim has been infringed.</li>
<li>Identification of the material that is claimed to be infringing and where it is located on the Service.</li>
<li>Information reasonably sufficient to permit us to contact you, such as your address, telephone number, and, email address.</li>
<li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or law.</li>
<li>A statement, made under penalty of perjury, that the above information is accurate, and that you are the copyright owner or are authorized to act on behalf of the owner.
</li>
</ul>
<p>FEDERAL LAW PROVIDES THAT IF YOU KNOWINGLY MISREPRESENT THAT ONLINE MATERIAL IS INFRINGING, YOU MAY BE SUBJECT TO CRIMINAL PROSECUTION FOR PERJURY AND CIVIL PENALTIES, INCLUDING MONETARY DAMAGES, COURT COSTS, AND ATTORNEYS' FEES.</p>
<p>
The above information must be submitted to HyggeMail at: support@hyggemail.com</p>
 
 <h2>26. Disclaimers; No Warranties</h2>
 <ul>
<li>ALL PRODUCTS AND THE SERVICE AVAILABLE FROM HYGGEMAIL ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW. HYGGEMAIL AND ITS PARENTS, SUBSIDIARIES, PARTNERS, AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES AND AGENTS, (COLLECTIVELY, THE “HYGGEMAIL PARTIES”) DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. </li> 
<li>WITHOUT LIMITING THE FOREGOING, WE MAKE NO WARRANTY THAT (I) THE SERVICES AND PRODUCTS WILL MEET YOUR REQUIREMENTS, (II) THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, OR (III) THE QUALITY OF ANY PRODUCTS, SERVICES, OR INFORMATION PURCHASED OR OBTAINED BY YOU FROM OR THOUGH US WILL MEET YOUR EXPECTATIONS. </li>
<li>THE SERVICES CAN INCLUDE TECHNICAL OR OTHER MISTAKES, INACCURACIES OR TYPOGRAPHICAL ERRORS. FURTHERMORE, THE INFORMATION OR SERVICES ON THIS SITE OR APP MAY BE OUT OF DATE. WE MAY MAKE CHANGES TO THE PRODUCTS, INFORMATION AND SERVICES ON THIS SITE OR APP, INCLUDING THE PRICES AND DESCRIPTIONS OF ANY SERVICES OR PRODUCTS LISTED HEREIN AT ANY TIME WITHOUT NOTICE, HOWEVER WE HAVE NO OBLIGATION TO DO SO. </li>
<li>THE HYGGEMAIL PARTIES DO NOT WARRANT THAT THE SERVICES OR THE SERVERS THAT MAKE THE SERVICE AVAILABLE WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR THAT ANY PRODUCT DESCRIPTIONS OR OTHER CONTENT OFFERED AS PART OF THE SERVICES, ARE ACCURATE, RELIABLE, CURRENT OR COMPLETE. </li>
<li>YOU EXPRESSLY AGREE THAT YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. IF YOU DOWNLOAD ANY CONTENT FROM THE SERVICE, YOU DO SO AT YOUR OWN DISCRETION AND RISK. YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY CONTENT THROUGH THE SERVICE.  </li>
<li>WE RESERVE THE RIGHT TO RESTRICT OR TERMINATE YOUR ACCESS TO THE SERVICE OR ANY FEATURE OR PART THEREOF AT ANY TIME. </li>
<li>SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO SOME PARTS OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. 
 </li>
</ul>
 
 <h2>27. Limitation of Liability</h2>
 <ul>
<li>IN NO EVENT SHALL WE BE RESPONSIBLE TO, OR LIABLE TO YOU, OR ANY THIRD PARTY, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, FOR ANY DAMAGES INCLUDING, BUT NOT LIMITED TO, SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES THAT INCLUDE, BUT ARE NOT LIMITED TO, DAMAGES FOR ANY PERSONAL INJURY TO YOU OR OTHERS, OR LOSS OF PROFIT, REVENUE OR BUSINESS, AS A DIRECT OR INDIRECT RESULT OF: (I) YOUR ACCESS AND USE OF OUR SERVICES AND PRODUCTS; (II) YOUR BREACH OR VIOLATION OF THE TERMS AND CONDITIONS OF THIS AGREEMENT; (III) YOUR DELAY IN ACCESSING OR INABILITY TO ACCESS OR USE OUR SERVICES FOR ANY REASON; (IV) YOUR DOWNLOADING OF ANY OF OUR CONTENT OR THE COLLECTIVE WORK FOR YOUR USE; OR (V) YOUR RELIANCE UPON OR USE OF OUR CONTENT OR THE COLLECTIVE WORK, WHETHER RESULTING IN WHOLE OR IN PART, FROM BREACH OF CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF WE AND/OR OUR SUPPLIERS HAD BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. </li> 
<li>THIS LIMITATION SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR PRODUCTS RECEIVED THROUGH OR ADVERTISED IN OUR SERVICES OR RECEIVED THROUGH ANY LINKS PROVIDED IN OUR SERVICES.  </li> 
<li>WITHOUT LIMITING THE FOREGOING, UNDER NO CIRCUMSTANCES SHALL WE BE HELD LIABLE FOR ANY DELAY OR FAILURE IN PERFORMANCE RESULTING DIRECTLY OR INDIRECTLY FROM ACTS OF NATURE, FORCES, OR CAUSES BEYOND THEIR REASONABLE CONTROL, INCLUDING, WITHOUT LIMITATION, INTERNET FAILURES, COMPUTER EQUIPMENT FAILURES, TELECOMMUNICATION EQUIPMENT FAILURES, OTHER EQUIPMENT FAILURES, ELECTRICAL POWER FAILURES, STRIKES, LABOR DISPUTES, RIOTS, INSURRECTIONS, CIVIL DISTURBANCES, SHORTAGES OF LABOR OR MATERIALS, FIRES, FLOODS, STORMS, EXPLOSIONS, ACTS OF GOD, WAR, GOVERNMENTAL ACTIONS, ORDERS OF DOMESTIC OR FOREIGN COURTS OR TRIBUNALS OR NON-PERFORMANCE OF THIRD PARTIES. </li> 
<li>OUR LIABILITY AND THE LIABILITY OF OUR AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES, INDEPENDENT CONTRACTORS, SHAREHOLDERS, REPRESENTATIVES, AND AGENTS ARISING OUT OF THIS AGREEMENT SHALL NOT EXCEED THE AMOUNTS ACTUALLY PAID BY USER IN THE PURCHASE OR TRANSACTION GIVING RISE TO SUCH CLAIM. </li> 
<li>YOU AND WE AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO OUR SERVICES MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED. </li> 
<li>CERTAIN STATE OR JURISDICTIONAL LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU.
 </li>
</ul> 
 
 <h2>28. Indemnity </h2>
 
 <ul>
<li>You agree that you will be personally responsible for your use of the Service and the products you purchase from us; and you further agree to defend, indemnify and hold harmless HyggeMail and its officers, directors, employees, consultants, affiliates, subsidiaries and agents from and against any and all claims, liabilities, damages, losses and expenses, including reasonable attorneys’ and accounting fees and costs, arising out of or in any way connected with (i) your access to, use of or alleged use of the Service or the products you purchase through the Service; (ii) your violation of these Terms of Service or any representation, warranty, or agreements referenced herein, or any applicable law or regulation; (iii) your infringement upon the property rights, intellectual property rights (copyrights and trademarks) or other rights of others; (iv) your violation of any third party right, including without limitation publicity, confidentiality, or privacy right; (v) any death, or serious physical or serious emotional harm, to you or any third party resulting from your use of the Services, or the products purchased though the Service; or (vi) any disputes or issues between you and any third party.  </li>
<li>We reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and in such case, you agree to cooperate with our defense of such claim.
 </li>
</ul>  
<h2>29. Release</h2>
 <ul>
<li>By using the Services, you release, to the maximum extent allowed by law, HyggeMail, its officers, directors, employees, affiliates, and agents from claims, demands and damages of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of, or in any way connected with, your use of our Services and our products, and any interaction with other users through the Services, including without limitation, any death or serious emotional or serious physical harm.  </li>
<li>If you are a California resident, you waive California Civil Code §1542, which says: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.” 
  </li>
</ul> 

<h2>30. Governing Law</h2>

<p>This Agreement, and any separate agreements whereby we provide you Services, shall be governed by and construed in accordance with the laws of the Commonwealth of Massachusetts, without regard to its conflicts of laws principles. The parties hereby consent to the exclusive jurisdiction and venue in the state and federal courts in the Commonwealth of Massachusetts.</p>

<h2>31. Our Remedies</h2>

 <ul>
<li>You acknowledge that we may be irreparably damaged if this Agreement is not specifically enforced, and damages at law would be an inadequate remedy. Therefore, in the event of a breach or threatened breach of any provision of this Agreement by you, we shall be entitled, in addition to all rights and remedies, to an injunction restraining such breach or threatened breach, without being required to show any actual damage or to post an injunction bond, and/or to a decree for specific performance of the provisions of this Agreement.  </li>
<li>For purposes of this Section, you agree that any action or proceeding with regard to such injunction restraining such breach or threatened breach shall be brought in the state courts of record or a United States District Court for the Commonwealth of Massachusetts. You consent to the jurisdiction of such court and waive any objection to the venue of any such action or proceeding in such court.  
  </li>
</ul> 

<h2>32. Dispute Resolution</h2>
<p>THIS AGREEMENT CONTAINS AN AGREEMENT TO ARBITRATE, WHICH WILL, WITH LIMITED EXCEPTION, REQUIRE YOU TO SUBMIT CLAIMS YOU HAVE AGAINST US TO BINDING AND FINAL ARBITRATION. THIS AGREEMENT ALSO CONTAINS AN AGREEMENT THAT YOU WILL ONLY BE PERMITTED TO PURSUE CLAIMS AGAINST US ON AN INDIVIDUAL BASIS, NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY CLASS OR REPRESENTATIVE ACTION OR PROCEEDING. PLEASE READ THE FOLLOWING TERMS CAREFULLY BEFORE ACCESSING OR USING ANY OF THE SERVICE. EACH TIME YOU ACCESS OR USE THE SERVICE, YOU AGREE TO BE BOUND BY THESE TERMS. IF YOU DO NOT AGREE TO BE BOUND BY THE MANDATORY ARBITRATION PROVISION AND THE CLASS ACTION WAIVER YOU MAY NOT ACCESS OR USE THE SERVICE.</p>

<p>For any dispute you have with HyggeMail, you agree to first contact us at support@hyggemail.com and attempt to resolve the dispute with us informally. If HyggeMail has not been able to resolve the dispute with you informally, we each agree to resolve any claim, dispute, or controversy as follows:
 </p>
 <ul>
 <li><strong>Claims.</strong> You and we agree that any claim or dispute at law or equity between us relating in any way to or arising out of this or previous versions of this Agreement, your use of or access to the Services will be resolved in accordance with the provisions set forth in this Legal Disputes section. Please read this section carefully. It affects your rights and will have a substantial impact on how claims you and we have against each other are resolved.</li>
 
 <li><strong>Applicable Law.</strong> You agree that the laws of the Commonwealth of Massachusetts, without regard to principles of conflict of laws, will govern this Agreement and any claim or dispute that has arisen or may arise between you and us, except as otherwise stated in this Agreement.</li>
 <li><strong>Agreement to Arbitrate.</strong> You and we each agree that any and all disputes or claims between you and us relating in any way to or arising out of this or previous versions of this Agreement, your use of or access to our Services, or any products or services delivered, sold, offered, or purchased through our Services shall be resolved exclusively through final and binding arbitration, rather than in court, except that you may assert claims in small claims court, if your claims qualify. </li>
 <li><strong>Prohibition of Class and Representative Actions and Non-Individualized Relief.</strong> YOU AND WE AGREE THAT EACH OF US MAY BRING CLAIMS AGAINST THE OTHER ONLY ON AN INDIVIDUAL BASIS AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE ACTION OR PROCEEDING. UNLESS BOTH YOU AND WE AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE OR JOIN MORE THAN ONE PERSON'S OR PARTY'S CLAIMS, AND MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A CONSOLIDATED, REPRESENTATIVE, OR CLASS PROCEEDING. ALSO, THE ARBITRATOR MAY AWARD RELIEF (INCLUDING MONETARY, INJUNCTIVE, AND DECLARATORY RELIEF) ONLY IN FAVOR OF THE INDIVIDUAL PARTY SEEKING RELIEF AND ONLY TO THE EXTENT NECESSARY TO PROVIDE RELIEF NECESSITATED BY THAT PARTY'S INDIVIDUAL CLAIM(S). ANY RELIEF AWARDED CANNOT AFFECT OUR OTHER USERS.</li>
 <li><strong>Arbitration Procedures.</strong> Arbitration is more informal than a lawsuit in court. There is no judge or jury in arbitration, and court review of an arbitration award is very limited. However, an arbitrator can award the same damages and relief on an individual basis that a court can award to an individual. An arbitrator should apply the terms of this Agreement as a court would. The arbitrator, and not any federal, state, or local court or agency, shall have exclusive authority to resolve any dispute arising out of or relating to the interpretation, applicability, enforceability or formation of this Agreement to Arbitrate, any part of it, or of this Agreement including, but not limited to, any claim that all or any part of the Agreement to Arbitrate or this Agreement is void or voidable. The arbitration will be conducted by the American Arbitration Association ("AAA") under its rules and procedures, including the AAA's Supplementary Procedures for Consumer-Related Disputes (as applicable), as modified by this Agreement to Arbitrate. The arbitrator will decide the substance of all claims in accordance with the laws of the Commonwealth of Massachusetts, including recognized principles of equity, and will honor all claims of privilege recognized by law. The arbitrator shall not be bound by rulings in prior arbitrations involving our other users, but is bound by rulings in prior arbitrations involving the same user to the extent required by applicable law. The arbitrator's award shall be final and binding and judgment on the award rendered by the arbitrator may be entered in any court having jurisdiction thereof.</li>
 <li><strong>Judicial Forum for Legal Disputes.</strong> Unless you and we agree otherwise, in the event that the Agreement to Arbitrate above is found not to apply to you or to a particular claim or dispute as a result of a decision by the arbitrator or a court order, you agree that any claim or dispute that has arisen or may arise between you and us must be resolved exclusively by a state or federal court located in the Commonwealth of Massachusetts. You and we agree to submit to the personal jurisdiction of the courts located within Massachusetts for the purpose of litigating all such claims or disputes. You also agree that: (i) our Services shall be deemed solely based in the Commonwealth of Massachusetts; and (ii) our Services shall be deemed passive Services that do not give rise to personal jurisdiction over us and our assigns, either specific or general, in jurisdictions other than the Commonwealth of Massachusetts.
 </li>
 </ul>
 
 <h2>33. Law Enforcement</h2>
 <ul>
 <li>HyggeMail is committed to cooperating with law enforcement while respecting each individual’s right to privacy. If HyggeMail receives a request for user account information from a government agency investigating criminal activity, we will review the request to be certain that it satisfies all legal requirements before releasing information to the requesting agency.</li>
<li>Furthermore, under 18 U.S.C. §§ 2702(b)(8) and 2702(c)(4) (Voluntary Disclosure Of Customer Communications or Records), HyggeMail may disclose user account information to law enforcement, without a subpoena, court order, or search warrant, in response to a valid emergency when we believe that doing so is necessary to prevent death or serious physical harm to someone. HyggeMail will not release more information than it prudently believes is necessary to prevent harm in an emergency situation. 
  </li>
 </ul>
 
 <h2>34. Amendments to this Agreement</h2>
 <p>
We reserve the right to update, amend and/or change this Agreement at any time in our sole discretion and without notice. Updates to this Agreement will be posted here. Amendments will take effect immediately upon us posting the updated Agreement on our Services.  You are encouraged to revisit this Agreement from time to time in order to review any changes that have been made. The date on which this Agreement was last updated will be noted immediately below this Agreement.  Your continued access and use of our Services following the posting of any such changes shall automatically be deemed your acceptance of all changes.</p>
<h2>35. Severability</h2>
<p>If any portion of this Agreement is deemed unlawful, void or unenforceable by any arbitrator or court of competent jurisdiction, this Agreement as a whole shall not be deemed unlawful, void or unenforceable, but only that portion of this Agreement that is unlawful, void or unenforceable shall be stricken from this Agreement.
</p>
<h2>36. No Waiver</h2>
<p>Our failure to enforce any right or provision in these Terms shall not constitute a waiver of such right or provision unless acknowledged and agreed to by us in writing.</p>
<h2>37. Survival</h2>
<p>All covenants, agreements, representations and warranties made in this Agreement, as may be amended by us, from time to time, shall survive your acceptance of this Agreement and the termination of this Agreement.</p>
<h2>38. Entire Understanding</h2>
<p>This Agreement and the Privacy Policy represent the entire understanding and agreement between you and us regarding the subject matter of the same, and supersede all other previous agreements, understandings and/or representations regarding the same.</p>
<p>If you have questions, comments, concerns or feedback regarding this Agreement or our Services, please contact us at <a href="mailto:support@hyggemail.com">support@hyggemail.com.</a></p>
 
 
 </div>
 </div>
			
			
			<button type="button" class="btn btn-default agree-btn" data-dismiss="modal">
                    I agree with Terms & Conditions
                </button>
            </div>

        </div>
    </div>
</div>


