@{
    ViewBag.Title = "PrintPDF";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}
@model PostCardFrontBack
<div class="pdfPostCard">
    <div class="inner-postcard-img-main">
        <div class="inner-postcard-img">
            <img src="~/Content/images/template3.jpg.gif">
        </div>
    </div>
    <div class="inner-postcard-img-main">
        <div class="inner-postcard-img">
            <img  src="~/Content/images/template3.jpg.gif">
        </div>
    </div>
</div>
