@{
    ViewBag.Title = "Cancel PayPal Transaction";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<section class="middle-content">
    <div class="faq-page">
        <div class="top-heading-bar">
            <h3 class="short-heading pacifico"> @ViewBag.Title </h3>
        </div>

        <div class="content-sec" style="margin-top: -55px;">
            <h4 class="text-center">
                Your transaction was cancelled.Transaction token is @ViewBag.Token
            </h4>
        </div>
    </div>
</section>


