@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    AddUpdateAdminImageModel uploadModel = ViewBag.UploadModel as AddUpdateAdminImageModel;
}

<div class="container1 flex">
    <div class="pdfPostCard">
        <div class="inner-postcard-img">
            <img src="~/Content/images/gallery-2.jpg" />
        </div>
        <div class="inner-postcard-img">
            <img src="~/Content/images/gallery-3.jpg" />
        </div>
    </div>
</div>
